*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
.calculator{
    border: 5px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(153, 161, 179, 0.75);
}
input{
    width: 100%;
    border: none; 
    padding: 24px;
    background: transparent;
    margin: 10px;
    text-align: right;
    cursor: pointer;
    font-size: 40px;
    color: #ffffff;
}
input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    margin: 10px;
    width: 60px;
    border-radius: 16px;
    color: #ffffff;
    background: transparent;
    height: 60px;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(166, 158, 158, 0.1);
    cursor: pointer;
}
.eql{
    background-color: orange;
}
.opt{
    background-color: rgb(106, 206, 126);
    color: rgb(8, 8, 8);
}
.name{
    color: crimson;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#historyBtn{
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    background-color: #3a4452;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
.history{
    display: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.history.show{
    display: block;
}
